@use 'sass:color';

@import url('reset.scss');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$size-base: 8;
$break-small: 400px;
$break-medium: 800px;
$break-large: 1200px;
$color-primary: rgb(150, 206, 180);
$color-secondary: rgb(255, 173, 96);
$color-tertiary: rgb(255, 238, 173);
$color-quaternary: rgb(217, 83, 79);

body {
  color: color.scale($color: $color-primary, $lightness: -15%);
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
}

.c-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: $color-primary;
  row-gap: 8px;
}

.c-converter {
  max-width: 300px;
  padding: 24px;
  background-color: #fff;
  border-radius: 4px;

  @media screen and (min-width: $break-small) { max-width: 500px; }

  &__title {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid $color-primary;
    color: $color-secondary;
    font-size: 2rem;
    font-weight: 800;
  }
}

.c-data-entry {
  display: grid;

  &:not(:last-child) { margin-bottom: 8px; }

  &__label {
    grid-area: label;
    align-self: center;
    color: $color-secondary;
    font-weight: 600;

    @media screen and (max-width: $break-small) { padding-bottom: 8px; }
  }

  &__input {
    z-index: 10;
    grid-area: input;
    padding: 2px;
    padding: 8px;
    background: $color-secondary;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
      background: color.scale($color: $color-secondary, $lightness: 15%);
    }

    &:focus {
      background: color.scale($color: $color-secondary, $lightness: -15%);
      box-shadow: 0 0 0;
      outline: 0;
    }

    &:disabled {
      background-color: $color-primary;
      color: color.scale($color: $color-primary, $lightness: -50%);
    }

    &--error {
      border: 1px solid $color-quaternary;
      color: $color-quaternary;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      z-index: 10;
      grid-area: input;
      padding: 2px;
      background: $color-secondary;
      border: 1px solid $color-secondary;
      border-radius: 4px;
      color: #fff;
      font-family: 'Share Tech Mono', monospace;
      font-size: 16px;
      font-weight: bold;
      transition: none;

      &:hover {
        background: color.scale($color: $color-secondary, $lightness: 15%);
      }

      &:focus {
        background: color.scale($color: $color-secondary, $lightness: -15%);
        box-shadow: 0 0 0;
        outline: 0;
      }
    }
  }

  @media screen and (min-width: $break-small) {
    grid-template-areas:
      'label input'
      '. warning ';
    grid-template-columns: 1fr 2fr;
    gap: 0 8px;
  }

  @media screen and (max-width: $break-small) {
    grid-template-areas:
      'label'
      'input'
      'warning ';
    grid-template-columns: 1fr;
  }
}

.c-warning {
  z-index: 10;
  grid-area: warning;
  margin-top: -4px;
  padding: 4px;
  padding: 8px;
  border-radius: 0 0 4px 4px;
  font-size: 16px;
  text-align: right;

  &--error {
    background-color: $color-quaternary;
    color: #fff;
  }
}

.c-invisible {
  position: absolute;
  top: -40px;
  visibility: none;

  @media screen and (prefers-reduced-motion: reduce) {
    position: absolute;
    top: -400px;
    visibility: none;
    transition: none;
  }
}
